:root{
  --color: #020203;
  --color-m: #7D43FF;
  --height: calc(100vh - 86px);
  --height-app: calc(100vh - 82px);
}
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

html{
  background: #E8E7E7;
}
body {
    margin: 35px;
    border: 6px solid var(--color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
    background: #ffffff;
    height: calc(100vh - 70px);
    box-shadow: 0px 10px 17px 2px #b7b7b7;
}
header {
    border-bottom: 6px solid;
    height: 40px;
    background: #fff;
}
h1 {
    text-align: center;
    font-size: 9vw;
    line-height: 0.7em;
    margin-top: -15%;
    text-shadow: -2px 1px #d4c1ff, -3px 2px #9c71ff, -4px 3px #c5abff;
}
h1 span {
    display: block;
    font-size: 0.5em;
}

/* MAIN  */

div#app {
    height: var(--height-app);
    position: relative;
}
button.btn {
    height: 40px;
    background: var(--color-m);
    color: #fff;
    font-family: 'Quantico', sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: -4px 6px 0px #332b45;
    border: 0;
    padding: 0 34px;
}

/* NAV */
nav {
    display: flex;
}
nav ul {
    margin: 0;
    line-height: 1em;
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    padding: 0 20px;
}
.logoIcon {
    width: 30%;
}
.logoIcon p {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.7em;
    margin: 0;
    padding: 0 21px;
    letter-spacing: -0.02em;
}

.fixed-menu {
    position: relative;
    z-index: 1000;
    background: #fff;
    width: 100%;
    height: 40px;
    border-bottom: 6px solid var(--color);
}
.fixed-menu-data {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    margin: 0 10px;
}
.fixed-menu-data p {
    margin: 0 10px;
}
.fixed-menu-data p span {
    font-size: 0.9em;
    color: #9363ff;
  }

.fixed-menu-data .title {
    font-weight: 700;
    font-size: 1.1em;
}
/* WELCOME PAGE */
.welcome-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 126px);
    background: url(/img/bg-welcome.svg);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.welcome-content {
    position: relative;
}
.welcomeBtn {
    width: 275px;
    margin: 0 auto;
    display: block;
}

/* MAP PAGE  */

.mapBtn {
    position: absolute;
    top: 100px;
    margin: 0 calc(50% - 100px);
    padding: 0 30px;
}


/* SECONDARY NAV */

.lat-log-box {
    position: absolute;
    right: 22px;
    top: 8px;
}

/* VIRTUASL GARDEN CONTAINER */
/* .virtual-garden {
    height: calc(100vh - 128px);
    position: absolute;
    bottom: 0;
} */

/* PLANTS */
.enviroment-container {
    height: calc(100vh - 128px);
}

.plant-list-container {
    position: absolute;
    height: calc(100vh - 228px);
    top: 54px;
    overflow: scroll;
    left: 2px;
    padding: 0 10px;
}
#container-list {
    height: calc(100vh - 173px);
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}
.buttons-section {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.buttons-section h6 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}
button.btn.search-plant {
    position: absolute;
    top: 100px;
    z-index: 1000;
    right: 16px;
}
.plant-list {
  display: flex;
      overflow: scroll;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      height: calc(100vh - 240px);
      bottom: -12px;
}
.single-plant {
    padding: 10px;
    box-sizing: content-box;
    width: 28%;
    margin: 6px;
    border: 6px solid var(--color);
}
.single-plant p {
    font-size: 0.9em;
    color: #4f4f4f;
    margin: 5px 0;
    border-bottom: 1px solid #ceb9ff;
}
.single-plant p span {
    display: block;
    font-weight: 600;
    font-size: 1.3em;
    color: var(--color);
}
.search-plant {
    padding: 0 65px;
}
.single-plant {
    padding: 10px;
    box-sizing: content-box;
    width: 29.1%;
    margin: 6px;
    border: 4px solid var(--color);
    background: #fff;
}
.btn-list{
    height: 33px;
    background: #ffffff;
    color: #020203;
    font-size: 15px;
    cursor: pointer;
    box-shadow: -2px 2px 0px #332b45;
    margin: 10px 0;
    display: block;
    border: 3px solid;
}

.btn-list-info {
    height: 25px;
    color: #7d43ff;
    font-family: 'Quantico', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.plant-searcher {
    position: relative;
    height: 40px;
        background: #7d43ff;
    display: flex;
    padding: 10px 20px;
}

.openPlants {
    position: absolute;
    right: -50px;
    background: red;
    padding: 13px 20px;
}
.searcherBtn{
    background: #fff;
    color: #7d43ff;
    border: 1px solid;
    margin: 0 10px;
    box-shadow: -3px 3px #382367;
}
